.dropdown {
    display: inline-block;
    position: relative;
    width: 100%;

    &__arrow {
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.75);
        display: block;
        font-family: 'Material Icons';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        min-height: 44px;
        line-height: 44px;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 1px;
        min-width: 44px;
    }

    &__option {
        margin-top: 7px;
    }

    &__option-button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 13px;
        padding-top: 19px;
    }

    &__options {
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 0 0 4px 4px;
        border-top: none;
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        height: 0;
        max-width: 320px;
        padding-left: 15px;
        padding-right: 7px;
        position: absolute;
        width: 100%;
        z-index: 10;

        &_active {
            display: flex;
            height: auto;
        }
    }

    &__select {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        height: max-content;
        line-height: 42px;
        padding-left: 14px;
        position: relative;
        user-select: none;

        &_active {
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-radius: 4px 4px 0 0;
            outline: none;
        }
    }

    &_width_short {
        max-width: 266px;
    }

    &_width_short & {
        &__options {
            height: auto;
            min-width: 266px;
            padding-bottom: 8px;
        }

        &__select {
            margin: 0;
            min-width: 266px;
            overflow: hidden;
            padding-right: 90px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
