.pagination {
  display: flex;
  margin: 0;
  max-width: 240px;
  padding: 0;
  text-align: center;

  &__text {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-top: 8px;
    padding-left: 6px;
  }

  .pagination__items_active {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    color: #fff;
    font-family: 'Montserrat';
    text-decoration: none;
  }

  & a:hover:not(.pagination__items_active) {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 22px;
    color: #fff;
    text-decoration: none;
  }

  &__items {
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-family: 'Montserrat';
    font-size: 12px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 40px;
  }
}

.arrow {
  font-family: 'Material Icons';
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  width: 40px;

}
