.pagination
    a.pagination__items.active(href="link.html")   1
    a.pagination__items(href="link.html")   2
    a.pagination__items(href="link.html")   3
    a.pagination__items.dots(href="link.html")   ...
    a.pagination__items(href="link.html")   15
    a.pagination__items.arrow(href="link.html") arrow_forward