.pagination {
    display: flex;
    margin: 0;
    max-width: 240px;
    padding: 0;
    text-align: center;

    a:hover:not(.pagination__items_active) {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 22px;
        color: #fff;
        text-decoration: none;
    }

    .pagination__items_active {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        color: #fff;
        font-family: 'Montserrat', Arial, sans-serif;
        text-decoration: none;
    }

    &__text {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        padding-left: 6px;
        padding-top: 8px;
    }

    &__items {
        color: rgba(31, 32, 65, 0.5);
        display: inline-block;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        height: 40px;
        line-height: 42px;
        min-width: 40px;
        text-align: center;
        text-decoration: none;
        user-select: none;

        &_arrow {
            font-family: 'Material Icons';
            font-size: 24px;
            line-height: 40px;
            min-height: 40px;
            min-width: 40px;
        }
    }
}
