mixin pagination({ values = [{href, number, isActive}] })
    

    .pagination
        each value in values
            - const {href, number, isActive} = value
            - const classes = ['pagination__items', isActive && 'pagination__items_active']
            a(href=href class = classes)=number
        a.pagination__items.arrow arrow_forward
    .pagination__text 1 – 12 из 100+ вариантов аренды