.landing-page {
    background: url('./img/landing.jpg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 70px 134px 21px 140px;

    @media (max-width: 1000px) {
        padding: 20px 20px 20px 20px;
    }

    @media (max-width: 380px) {
        padding: 5px;
    }

    &__container {
        display: flex;
        margin: 0 auto;
        max-width: 1180px;
        padding-right: 10px;
        position: relative;
        width: 100%;

        @media (max-width: 650px) {
            justify-content: center;
        }
    }
}

.landing-page__quote {
    bottom: 0;
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: unset;
    max-width: 300px;
    position: absolute;
    right: 0;
    text-align: right;
    @media (max-width: 650px) {
        display: none;
    }
}

.landing-page__filter {
    margin-bottom: 364px;

    @media (max-width: 1000px) {
        margin-bottom: 50px;
    }

    @media (max-width: 650px) {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-left: unset;
        padding-top: 20px;
        margin-bottom: unset;
    }
}

@media (max-width: 430px) {
    .landing-page__quote {
        display: none;
    }

    .filter {
        margin: 10px;
        max-width: 370px;
    }

    .datepicker-container__item {
        margin-right: unset;
        width: 100%;
    }

    .datepicker-container__inputs {
        width: 100%;
    }

    .datepicker-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .filter__wrapper {
        padding: 15px;
    }

    .buttons__long {
        min-width: 100%;
    }
}
