.navigation-bar {
    align-items: center;
    background: #fff;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: center;
    min-height: 70px;

    &__body {
        display: flex;
        justify-content: space-between;
        max-height: 70px;
        max-width: 1180px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    &__navigation {
        align-items: center;
        display: flex;
    }

    &__buttons {
        display: flex;
    }

    &__login-button {
        margin-right: 20px;
    }

    &__password-button {
        height: 34px;
        min-width: 196px;
    }
}

.navig__link {
    color: rgba(31, 32, 65, 0.5);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    text-decoration: none;

    &_active {
        color: rgba(31, 32, 65, 0.75);
        font-weight: bold;
        pointer-events: none;
    }
}

a:hover {
    color: rgba(31, 32, 65, 0.75);
}

.navigation-bar__right-column {
    align-items: center;
    display: flex;
    justify-content: center;
}

.topmenu {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 18px;
    min-width: 447px;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
}

.submenu__link {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
}

.navigation-bar__navigation {
    justify-content: space-between;
}

li {
    position: relative;
}

.submenu {
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    min-width: 70px;


}

.navig:hover .submenu {
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width:100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

.submenu__item:hover {
    background: rgb(190, 190, 190);
}

.navig {
    top: -1px;

    &:nth-child(1) {
        margin-right: 19px;
    }

    &:nth-child(2) {
        margin-right: 45px;
    }

    &:nth-child(2)::after {
        border: 2px solid rgba(31, 32, 65, 0.5);
        /* stylelint-disable declaration-property-value-disallowed-list */
        border-right: none;
        border-top: none;
        bottom: 10px;
        content: '';
        cursor: pointer;
        min-height: 8px;
        left: 57px;
        position: absolute;
        transform: rotate(-45deg);
        min-width: 8px;
    }

    &:nth-child(3) {
        margin-right: 20px;
    }

    &:nth-child(4) {
        margin-right: 21px;
    }

    &:nth-child(5) {
        margin-right: 27px;
    }

    &:nth-child(5)::after {
        border: 2px solid rgba(31, 32, 65, 0.5);
        border-right: none;
        border-top: none;
        bottom: 10px;
        content: '';
        cursor: pointer;
        min-height: 8px;
        left: 99px;
        position: absolute;
        transform: rotate(-45deg);
        min-width: 8px;
    }
}

.user {
    align-items: center;
    color: rgba(31, 32, 65, 0.5);
    display: flex;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    justify-content: space-between;
    line-height: 17px;

    &__arrow {
        margin-right: 20px;
    }
}

@media (max-width: 888px) {
    .topmenu {
        flex-direction: column;
        margin-right: 0;
        min-width: 320px;
    }

    .navigation-bar__navigation {
        flex-direction: column;
    }
}

.navig-bar {
    min-width: 40px;
    min-height: 40px;
    background-image: url('./img/bars-solid.svg');
    display: none;
}

@media (max-width: 1000px) {
    .topmenu,
    .navigation-bar__buttons {
        display: none;
    }

    .navig-bar {
        display: block;
    }
}

@media (max-width: 1000px) {
    .navigation-bar__navigation_active .topmenu,
    .navigation-bar__navigation_active .navigation-bar__buttons {
        display: block;
    }

    .navigation-bar__navigation_active .topmenu {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .navigation-bar__navigation_active {
      flex-direction: column;
    }

    .navigation-bar__logo-toxin {
        margin-top: 20px;
    }

    .navigation-bar__navigation_active .navigation-bar__password-button {
        margin: 20px 0 0;
    }

    .navigation-bar__navigation_active .navigation-bar__login-button {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .navigation-bar__navigation_active .navig {
        margin: 0;
    }

    .navigation-bar__body {
        flex-direction: column;
        margin-bottom: 20px;
        max-height: unset;
    }
}

@media (max-width: 888px) {
    .topmenu {
        flex-direction: column;
        min-width: 320px;
    }

    .bar__navigation {
        flex-direction: column;
    }
}
