.rating {
    $block: &;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    min-width: 115px;
    width: 100%;

    &:hover {
        #{$block}__star {
            fill: url('#my-cool-gradient');
        }
    }

    &__svg {
        height: 0;
        opacity: 0;
        width: 0;
    }

    &__button {
        display: inline-block;
        max-height: 21px;
        max-width: 21px;

        &:hover {
            ~ .rating__button .rating__star {
                fill: #fff;
            }
        }

        &_active {
            ~ .rating__button .rating__star {
                fill: #fff;
            }
        }
    }

    &__star {
        fill: #fff;
        height: 100%;
        width: 100%;
    }

    &_rated {
        #{$block}__star {
            fill: url('#my-cool-gradient');
        }

        &:hover {
            #{$block}__button:hover ~ .rating__button .rating__star {
                fill: lightgray;
            }

            .rating__button_active ~ .rating__button .rating__star {
                fill: url('#my-cool-gradient');
            }
            #{$block}__button:hover
                ~ .rating__button.rating__button_active
                ~ .rating__button
                .rating__star,
            .rating__button_active:hover ~ .rating__button .rating__star,
            .rating__button_active
                ~ .rating__button:hover
                ~ .rating__button
                .rating__star {
                fill: #fff;
            }
        }
    }
}
