.svg {
    height: 0;
    opacity: 0;
    width: 0;
}

.rating {
    display: flex;
    font-size: 0;
    justify-content: space-between;
    min-width: 115px;
    width: 100%;
}

.rating__button {
    display: inline-block;
    max-height: 21px;
    max-width: 21px;
}

.rating__star {
    fill: #fff;
    height: 100%;
    width: 100%;
}

.rating:hover .rating__star,
.rating.has--rating .rating__star {
    fill: url('#my-cool-gradient');
}

.rating__button:hover ~ .rating__button .rating__star,
.rating__button.is--active ~ .rating__button .rating__star {
    fill: #fff;
}

.rating.has--rating:hover
.rating__button:hover
~ .rating__button
.rating__star {
    fill: lightgray;
}

.rating.has--rating:hover
.rating__button.is--active
~ .rating__button
.rating__star {
    fill: url('#my-cool-gradient');
}

.rating.has--rating:hover
.rating__button:hover
~ .rating__button.is--active
~ .rating__button
.rating__star,
.rating.has--rating:hover
.rating__button.is--active:hover
~ .rating__button
.rating__star,
.rating.has--rating:hover
.rating__button.is--active
~ .rating__button:hover
~ .rating__button
.rating__star {
    fill: #fff;
}
