.text-field
    .text-field__input
        form.text-field__action
            label(for='input-field')
            input.input-field(type='email', name='email', placeholder='Email')
        form.text-field__action
            label(for='input-field')
            input.input-field(type='password', name='password', placeholder='Пароль')
        