mixin colors-intro({ text = 'Color', description = 'Description', backgroundColor })
    - const colorModifiers = { 'darkest shade': 'colors-intro__squares_color_shade100', 'dark shade': 'colors-intro__squares_color_shade75', 'shade': 'colors-intro__squares_color_shade50', 'light shade': 'colors-intro__squares_color_shade25', 'lightest shade': 'colors-intro__squares_color_shade5', 'purple': 'colors-intro__squares_color_purple', 'green': 'colors-intro__squares_color_green'  }
    - const classes = ['colors-intro__squares', colorModifiers[backgroundColor]]
    .colors-intro
        div(class=classes)
        .colors-intro__text
            .colors-intro__text-bold=text
            span.colors-intro__description=description
