mixin footer-copyright()
    .footer-copyright
        .footer-copyright__wrapper
                .footer-copyright__item
                    .footer-copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
                +social({ values: [{href:'https://twitter.com/', textIcon: '',},{href:'https://www.facebook.com/', textIcon: '',},{href:'https://www.instagram.com/', textIcon: '',} ] })