mixin footer-copyright()
    .footer-copyright
        .footer-copyright__wrapper
                .footer-copyright__item
                    .footer-copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
                +social()