//- .bar__buttons
//-     .bar__entry
//-       form
//-         button.bar__login(name="login" value="login")
//-           span Войти 
//-         button.bar__register(name="register" value="register")
//-           span Зарегистрироваться