.sign-in-page {
    align-items: center;
    background: url('./img/registration-page.jpg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;
    justify-content: center;
    min-height: 683px;
    position: relative;
    width: 100%;
    min-height: 701px;
    @media (max-width: 1000px) {
        min-height: 450px;
    }

    &__form {
        align-self: center;
        display: flex;
    }
}
@media (max-width: 480px) {
    .sign-in-form__wrapper {
        padding: 10px;
    }

    .sign-in-form {
        min-width: unset;
        height: 100%;
        width: 100%;
    }

    .sign-in-page__form {
        padding-top: 0;
    }

    .sign-in-page {
        min-height: 320px;
    }

    .sign-in-form__login-text {
      margin-bottom: 6px;
    }
    .sign-in-form__register {
      margin-top: 7px;
      flex-direction: column;
    }
}
