.sign-in-page {
    align-items: center;
    background: url('./img/registration-page.jpg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    &__form {
        margin: 171px 0 172px;

        @media (max-width: 480px) {
            padding: 50px;
        }
    }
}
