mixin button({ type, href, text, size, color, theme } = {})
    -
        const sizeModifiers = {
            short: 'button_size_short',
            long: 'button_size_long',
            longer: 'button_size_longer'
        };
        const typeModifiers = {
            submit: 'button_type_submit',
        };
        const themeModifiers = {
            borderless: 'button_theme_borderless',
        };
        const colorModifiers = {
            white: 'button_color_white'
        };
        const classes = [
            'button',
            sizeModifiers[size],
            colorModifiers[color],
            typeModifiers[type],
            themeModifiers[theme],
        ];
        const isLink = href ? 'true' : 'false';
    case isLink
        when 'true'
            a.button__container(href=href)
                button(type='button' class=classes )=text
        default
            button(type='button' class=classes href=href)=text