
.button {
  box-sizing: border-box;
  display: flex;
  position: relative;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  border-radius: 22px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 99px;

  &_type_submit::after {
    position: absolute;
    right:8px;
    content: "\e5c8";
    font-family: 'Material Icons';
    font-size: 24px;
    cursor: pointer;
  }
  
  &:hover {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    opacity: 0.5;
    } 

  &_size_long {
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    padding-right: 4px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: center;
    width: 100%;
      
  }

  &_size_short {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: center;
    min-width: unset;
    width: 87px;
    color: white;
  }
  // .button_type_long.button_size_short {
  //   align-items: center;
  //   display: flex;
  //   height: 34px;
  //   justify-content: center;
  //   min-width: unset;
  //   width: 196px; 
  // }
  
  &_color_white {
    background: white;
    border: 2px solid #bc9cff;
    box-sizing: border-box;
    color: #bc9cff;
    line-height: 42px;

    &:hover {
      background: unset;
      opacity: unset;
      border: 2px solid rgba(188, 156, 255, 0.5);
    }
  }
  
  &_theme_borderless {
    background: white;
    color: #bc9cff;
    height: 44px;
    width: 99px;

    &:hover {
      background: unset;
      color: rgba(31, 32, 65, 0.5);
      
    }
  }
    
}
