.button {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 20px 15px;
    min-width: 99px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;

    &:hover {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        opacity: 0.5;
    }

    &_type_submit::after {
        content: '\e5c8';
        cursor: pointer;
        font-family: 'Material Icons';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 8px;
    }

    &__container {
        text-decoration: none;
    }

    &_size_long {
        align-items: center;
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        justify-content: center;
        padding-left: 3px;
        text-transform: uppercase;
        width: 100%;
        padding-right: 6px;
    }

    &_size_longer {
        align-items: center;
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        justify-content: center;
        padding: 9px 0 10px;
        text-transform: uppercase;
        width: 100%;
        min-width: 196px;
    }

    &_color_white {
        align-items: center;
        background-clip: content-box, border-box;
        background-image: linear-gradient(
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0)
            ),
            linear-gradient(180deg, #bc9cff, #8ba4f9);
        background-origin: border-box;
        border: 2px solid transparent;
        box-shadow: 2px 1000px 1px #fff inset;
        box-sizing: border-box;
        color: #bc9cff;
        padding: 12px 15px 13px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        &:hover {
            background: unset;
            border: 2px solid rgba(188, 156, 255, 0.5);
            opacity: unset;
        }
    }

    &_size_short {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 7px 0 8px;
        min-width: 87px;
    }

    &_theme_borderless {
        background: #fff;
        color: #bc9cff;
        padding: 14px 20px 15px;
        min-width: 99px;

        &:hover {
            background: unset;
            color: rgba(31, 32, 65, 0.5);
        }
    }
}
