mixin footer-creative()
    .footer-container
        .footer-creative
                //- +logo-toxin()
                .footer-creative__item
                    .footer-creative__text Copyright © 2018 Toxin отель. Все права зачищены.
                +social()