include ../../components/logo-toxin/logo-toxin.pug

mixin footer-creative()
    .footer-creative
        .footer-creative__wrapper
                .footer-creative__item
                    .footer-creative__logo
                        +logo-toxin
                    .footer-creative__text Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer-creative__icons
                        .footer-creative__links
                            a.footer-creative__images(href='/mock-address/change-me') 
                        .footer-creative__links
                            a.footer-creative__images(href='/mock-address/change-me') 
                        .footer-creative__links
                            a.footer-creative__images(href='/mock-address/change-me') 