include ../../components/logo-toxin/logo-toxin.pug
include ../social/social.pug
mixin footer-creative()
    .footer-creative
        .footer-creative__wrapper
                .footer-creative__item
                    .footer-creative__logo
                        +logo-toxin
                    .footer-creative__text Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer-creative__icons
                        +social({ values: [{ href:'https://twitter.com/', image: 'twitter.svg'}, {href:'https://www.facebook.com/', image: 'facebook.svg' }, { href:'https://www.instagram.com/', image: 'instagram.svg' }] })