
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src:
    url('./quicksand/quicksand-regular.woff') format('woff'),
    url('./quicksand/quicksand-regular.ttf') format('truetype'),
    url('./quicksand/quicksand-regular.svg') format('svg');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src:
    url('./quicksand/quicksand-bold.woff') format('woff'),
    url('./quicksand/quicksand-bold.ttf') format('truetype'),
    url('./quicksand/quicksand-bold.svg') format('svg');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src:
    url('./montserrat/montserrat-regular.woff') format('woff'),
    url('./montserrat/montserrat-regular.ttf') format('truetype'),
    url('./montserrat/montserrat-regular.svg') format('svg');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src:
    url('./montserrat/montserrat-bold.woff') format('woff'),
    url('./montserrat/montserrat-bold.ttf') format('truetype'),
    url('./montserrat/montserrat-bold.svg') format('svg');
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts-awesome/fa-brands-400.eot');
  src:
    url('./fonts-awesome/fa-brands-400.woff') format('woff'),
    url('./fonts-awesome/fa-brands-400.ttf') format('truetype'),
    url('./fonts-awesome/fa-brands-400.svg') format('svg'),
    url('./fonts-awesome/fa-regular-400.woff') format('woff'),
    url('./fonts-awesome/fa-regular-400.ttf') format('truetype'),
    url('./fonts-awesome/fa-regular-400.svg') format('svg');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./material-icons/materialIcons-regular.eot');
  src: 
    url('./material-icons/materialIcons-regular.woff2') format('woff2'),
    url('./material-icons/materialIcons-regular.woff') format('woff'),
    url('./material-icons/materialIcons-regular.ttf') format('truetype');
}
