mixin like-button({likeNumber = '', isChecked,}={})
    - const classes = ['like-button_type_counter', isChecked && 'like-button_type_active']

    .like-button
        .like-button__button(  data-count=likeNumber, class=classes) 
            span.like-button__icon favorite