mixin like-button({likeNumber = '', isChecked,}={})

 - let checkedMofidier = ''

    case isChecked
        when 'checked'
            - checkedMofidier='active'

    .like-button
        a(href='#', title='Love it', data-count=likeNumber, class = `like-button_item like-button_counter ${checkedMofidier}`) 
            span.like-button_icon favorite