.like-button {
  &__button {
    border: 1px solid;
    border-color: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    box-sizing: initial;
    display: inline-block;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    position: relative;
    text-decoration: none;
    width: 38px;
  }

  &_type_active {
    border-color: #bc9cff;
  }
  

  &__icon {
    color: rgba(31, 32, 65, 0.25);
    font-family: 'Material icons';
    user-select: none;

  }
}

.like-button_type_counter::after,
.like-button_type_counter:hover::after { 
  text-shadow: none; 
}

.like-button_type_counter::after {
  color: rgba(31, 32, 65, 0.25);
  content: attr(data-count);
  position: absolute;
  left: 20px;
}

.like-button_type_counter.like-button_type_active::after {
  color: #bc9cff;
}

.like-button .like-button__icon { 
  color: rgba(31, 32, 65, 0.25);
  font-family: 'Material icons';
  position: relative;
  left: 5px;
}



.like-button__button.like-button_type_active .like-button__icon { 
  color: #bc9cff; 
}
