mixin like-button({likeNumber = '', isChecked,}={})
    - const checkModifiers = { checked: 'like-button_type_active' }
    - const classes = ['like-button_type_counter', checkModifiers[isChecked]]
    - let checkedMofidier = ''

    .like-button
        .like-button__button(  data-count=likeNumber, class=classes) 
            span.like-button__icon favorite