.star
    form
    span.star-cb-group
        input#rating-5(type='radio', name='rating', value='5')
        label(for='rating-5') 
        input#rating-4(type='radio', name='rating', value='4', checked='checked')
        label(for='rating-4') 
        input#rating-3(type='radio', name='rating', value='3')
        label(for='rating-3') 
        input#rating-2(type='radio', name='rating', value='2')
        label(for='rating-2') 
        input#rating-1(type='radio', name='rating', value='1')
        label(for='rating-1') 
        input#rating-0.star-cb-clear(type='radio', name='rating', value='0')
        label(for='rating-0') 

