.search-room {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    @media (max-width: 1150px) {
        flex-direction: column;
    }

    &__checkbox-heading {
        margin-bottom: 18px;
    }

    &__checkbox-heading-rich {
        margin-bottom: 18px;
    }

    &__filter {
        margin-top: 31px;

        @media (max-width: 829px) {
            justify-content: center;
        }

        @media (max-width: 1150px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        max-width: 834px;

        @media (max-width: 1150px) {
            align-self: center;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        min-width: 834px;

        @media (max-width: 829px) {
            flex-wrap: wrap;
            justify-content: space-around;
            min-width: unset;
        }

        &:first-child {
            margin-bottom: 20px;
        }

        &:nth-child(2) {
            margin-bottom: 19px;
        }

        &:nth-child(3) {
            margin-bottom: 21px;
        }
    }

    &__title {
        color: #1f2041;
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 29px;
        margin: 30px 0 20.5px;
        position: relative;
        right: 1px;
    }

    &__item {
        @media (max-width: 1150px) {
            margin: 10px;
        }

        &:first-child {
            margin-bottom: 20px;
        }

        &:nth-child(2) {
            margin-bottom: 29px;
            max-width: 266px;
            min-width: 266px;
        }

        &:nth-child(3) {
            margin-bottom: 30px;
        }

        &:nth-child(4) {
            margin-bottom: 17px;
        }

        &:nth-child(5) {
            margin-bottom: 19px;
        }

        &:nth-child(6) {
            margin-bottom: 25px;
        }
    }

    &__number {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

        @media (max-width: 829px) {
            margin-bottom: 10px;
        }
    }

    &__pagination {
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 73px;
        margin-right: 17px;
        margin-top: 41px;
    }

    &__border {
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        display: flex;
        min-height: 1px;
    }

    &__rooms {
        @media (max-width: 829px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
