//- .datepicker__container
//-     //- span.datepicker__title filter date dropdown
//-     //- i.datepicker__arrow expand_more
//-     input.datepicker-here-inline(type="hidden" 
//-             data-multiple-dates="2"
//-             data-multiple-dates-separator=" - "
//-             data-position='right top'
//-             data-range="true"
//-             placeholder="ДД.МЕС - ДД.МЕС"
//-             readonly
//-         )
     
