.buttons__row
    .buttons__title
        span.buttons__text buttons
    .buttons__column
        .buttons__item
            a.button.buttons__hover(href='link.html') click me
        .buttons__item
            a.button.buttons__white(href='link.html') click me
        .buttons__item
           a.button.buttons__borderless(href='link.html') click me
        .buttons__item
            form.buttons__form(action="link.html", method="get")
                a.button.buttons__long(href='link.html') перейти к оплате
                button.buttons__arrow(type='submit') arrow_forward