//- .subscription
//-   .subscription__subtext subscribtion text field
//-   form.subscription__form(action="", method="get")
//-     input.subscription__input(type="text" name="email" placeholder="Email")
//-     button.subscribtion__button(type='submit') arrow_forward