.font-intro {
    $block: &;
    display: flex;

    &__description {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-style: normal;
    }

    &__name {
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Montserrat', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        margin-right: 30px;
    }

    &_type_h1 {
        #{$block}__name {
            font-size: 24px;
            line-height: 29px;
        }

        #{$block}__description {
            font-size: 24px;
            font-weight: bold;
            line-height: 29px;
        }
    }

    &_type_h2 {
        #{$block}__name {
            font-size: 19px;
            line-height: 23px;
        }

        #{$block}__description {
            font-size: 19px;
            font-weight: bold;
            line-height: 23px;
        }
    }

    &_type_h3 {
        #{$block}__name {
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            text-transform: uppercase;
        }

        #{$block}__description {
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;
            text-transform: uppercase;
        }
    }

    &_type_body {
        #{$block}__name {
            font-size: 14px;
            line-height: 24px;
        }

        #{$block}__description {
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            min-width: 301px;
        }
    }
}
