
html,
body {
	height: 100%;
}
.layout-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.layout-header {
	flex: 0 0 auto;
}
.layout-main {
  flex: 1 0 auto;
}
.layout-footer {
	flex: 0 0 auto;
}