* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: #1F2041;
  background: #fff;

}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-header {
  flex: 0 0 auto;
}

.layout-main {
  flex: 1 0 auto;
}

.layout-footer {
  flex: 0 0 auto;
}
