.sign-in-form {
    width: 380px;
    height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 32px 30px;
}
.sign-in__heading {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin-bottom: 20px;

}
.sign-in__email {
    margin-bottom: 20px;
}
.sign-in__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-in__login-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;
}