.registration-page {
    align-items: center;
    background: url('./img/registration-page.jpg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @media (max-width: 400px) {
        padding: 0;
    }

    &__form {
        padding: 19px 0 19px 5px;
        align-self: center;
        display: flex;
        @media (max-width: 352px) {
            margin-left: unset;
        }
    }
}
