//- .subscription
//-   .subscription__subtext Subscribe to our newsletter
//-   .subscription__latest-news Receive our latest news and promotions in your inbox!
//-   form.subscription__form(action="", method="get")
//-     input.subscription__input(type="text" name="email" placeholder="Your email address")
//-     button.subscribtion__button(type='submit') arrow_forward