.slick__content-noarrow
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
.slick__describtion
    .slick__row
        .slick__paragraph
            span.slick__no №
            span.slick__number   840
        .slick__paragraph
            span.slick__price 9 900
            span.slick__price ₽
            span.slick__in-time   в сутки
    .slick__row
        .slick__underline
            img(src=("line.svg"), alt="line")
    .slick__row
        .slick__paragraph
            include ../star/star.pug
        .slick__paragraph
            span.slick__reviews-number 65
            span.slick__reviews   Отзывов

