mixin social({ values = [{ href:'/mock-address/change-me', image }] })
    .social
        .social__wrapper
                each value in values
                    - const {href, image } = value
                    a.social__links(href=href target="_blank" rel="noopener noreferrer")
                        img.social__image(src=(image), alt="Иконка социальной сети")
