mixin social()
  .social
    .social__wrapper
      .social__links
        a.social__images(href='/mock-address/change-me') 
      .social__links
        a.social__images(href='/mock-address/change-me') 
      .social__links
        a.social__images-insta(href='/mock-address/change-me') 