mixin social({ values = [{href:'/mock-address/change-me', textIcon }] })  
  .social
    .social__wrapper
        each value in values
          - const {href, textIcon } = value
          .social__links
             a.social__images(href=href)=textIcon
