mixin comment({avatarSourcePath, likeNumber, name, date, text, isChecked}={})
    .comment
        .comment__avatar-block
            .comment__avatar
                img.comment__image(src=avatarSourcePath, alt="логотип")
            .comment__like-button
                +like-button({ likeNumber, isChecked })
        .comment__body
            .comment__name=name
            .comment__date=date
            .comment__text=text