extends ../../components/base/layout/main
block content
    .test-page
        ul.test-page__wrapper
            li.test-page__title UI kit pages
            li.test-page__list
                a(href='/cards.html' class = 'test-page__link') Cards
            li.test-page__list
                a(href='/color&type.html' class = 'test-page__link') Color and type
            li.test-page__list
                a(href='/form-elements.html' class = 'test-page__link') Form elements
            li.test-page__list
                a(href='/headers&footers.html' class = 'test-page__link') Headers and footers
            li.test-page__title Webside pages
            li.test-page__list
                a(href='/landing-page.html' class = 'test-page__link') Landing page
            li.test-page__list
                a(href='/registration-page.html' class = 'test-page__link') Registration
            li.test-page__list
                a(href='/room-detail.html' class = 'test-page__link') Room details
            li.test-page__list
                a(href='/search-room.html' class = 'test-page__link') Search room
            li.test-page__list
                a(href='/sign-in.html' class = 'test-page__link') Sign in