extends ../base-ui/base-ui
block content
    .index
        ul.index__wrapper
            li.index__title UI kit pages
            li.index__list
                a.index__link(href='/site1/cards.html') Cards
            li.index__list
                a.index__link(href='/site1/colors-and-type.html') Color and type
            li.index__list
                a.index__link(href='/site1/form-elements.html') Form elements
            li.index__list
                a.index__link(href='/site1/headers&footers.html') Headers and footers
            li.index__title Website pages
            li.index__list
                a.index__link(href='/site1/landing-page.html' ) Landing page
            li.index__list
                a.index__link(href='/site1/registration-page.html') Registration
            li.index__list
                a.index__link(href='/site1/room-detail.html') Room details
            li.index__list
                a.index__link(href='/site1/search-room.html') Search room
            li.index__list
                a.index__link(href='/site1/sign-in.html' ) Sign in