extends ../base-ui/base-ui
block content
    .index
        ul.index__wrapper
            li.index__title UI kit pages
            li.index__list
                a.index__link(href='/cards.html') Cards
            li.index__list
                a.index__link(href='/colors-and-type.html') Color and type
            li.index__list
                a.index__link(href='/form-elements.html') Form elements
            li.index__list
                a.index__link(href='/headers&footers.html') Headers and footers
            li.index__title Website pages
            li.index__list
                a.index__link(href='/landing-page.html' ) Landing page
            li.index__list
                a.index__link(href='/registration-page.html') Registration
            li.index__list
                a.index__link(href='/room-detail.html') Room details
            li.index__list
                a.index__link(href='/search-room.html') Search room
            li.index__list
                a.index__link(href='/sign-in.html' ) Sign in