.bar__navigation * {
  margin: 0;
  padding: 0;
  }
.bar__navigation  {
  display: flex;
  align-items:center;
  padding-top: 1px;
  padding-right: 30px;
  ul {
    display: flex;
    justify-content: space-between;
   list-style: none;
    width: 528px;
    height: 20px;
  }
  img {
      display: inline-block;
      margin-left: 6px;
      
    }
  li {
    position: relative;
  }
  a.active {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
    
  }
 
 li.fix {
   margin-right:  -5px;
 }
  a { 
    height: 70px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    letter-spacing: -0.01em;
    a.navigation__link-active {
      font-weight: bold;
      color: rgba(31, 32, 65, 0.75);
    }
  }
}


.bar__right-column {
display: flex;
height: 70px;
align-items:center;
justify-content: space-between;
}
//submenu
.bar__navigation {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
}
li {
  position: relative;
}
.submenu {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  white-space: nowrap;
}
.fix:hover .submenu {
  display: flex;
  flex-direction: column;
  background: gray;
 } 

// старый вариант
//.submenu ul {
//   list-style: none; 
//   margin: 0;
//   padding: 0;
// }
// li:hover > ul.submenu li {
//   display: flex;
//   flex: 1;
// }
// .submenu {
// a {
//   display: flex;
//   text-decoration: none;
//   outline: none;
//   font-family: 'Lora', serif;
//   transition: .5s linear;
// }
// }

// li > ul.submenu {
//   position: absolute;
//   display: flex;
//   left: 0;
//   top: 100%;
//   width: 100%;
// }
// .submenu {
//   -webkit-transform: scaleY(0);
//     -ms-transform: scaleY(0);
//     transform: scaleY(0);
//   -webkit-transform-origin: 0 0;
//     -ms-transform-origin: 0 0;
//     transform-origin: 0 0;
//   background: #FFAB51;
  
// }
//   li:hover .submenu {
//   -webkit-transform: scaleY(1);
//     -ms-transform: scaleY(1);
//     transform: scaleY(1);
// }
// .submenu li a {
//   border-bottom: 1px solid rgba(255,255,255,.3);
//   color: white;
// }
// .submenu__item1, .submenu__item2,.submenu__item3 {
// display: flex;
// }