//- .bar__right-column
//-   nav.bar__navigation
//-     ul.topmenu
//-       +menu('Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation', 'Repair', 'Odrer', 'Paint')
//-   include ../../components/user-login/user-login.pug