.donut-chart {
    max-width: 450px;
    overflow: visible;
    width: 100%;
}

.apexcharts-legend {
    &-text {
        line-height: 20px;
        padding-left: 3px;
    }
}

.apexcharts-svg .apexcharts-legend.apexcharts-align-center.position-right {
    min-width: 195px;
    padding: 0;
}
