.donut-chart {
  max-width: 450px;
  // margin: 10px;
  // box-sizing: border-box;
  overflow: visible;
  width: 100%;
}

.apexcharts-legend {
  &-text {  
    line-height: 20px;
    padding-left: 3px;
  }
}

// #SvgjsText1041 {
//   font-weight: bold;

// }

.apexcharts-svg .apexcharts-legend.apexcharts-align-center.position-right {
  min-width: 195px;
  padding: 0;
}
