block variables


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="shortcut icon" href="./Group.svg")
  body

    include ../../logo/logo.pug
  

    +logo-ui()

    block content
    block footer
      
    
    