block variables
- var pageClass 


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="shortcut icon" href="./Group.svg")
  body(class=`${pageClass}`)

    include ../../logo/logo.pug
  

    +logo-ui()

    block content
      
    
    