extends ../../components/base/layout/main


block variables
    - var pageTitle = 'Cards';
    - var pageClass = "GreyBackground";


block content

    include ../../components/filter/filter.pug
    include ../../components/sign-in-form/sign-in-form.pug
    include ../../components/range-slider/range-slider.pug
    include ../../components/button/button.pug
    include ../../components/registration-form/registration-form.pug
    include ../../components/reservation-form/reservation-form.pug
    include ../../components/heading/heading.pug
    include ../../components/slick-slider/slick-slider.pug

    article.cards
        .cards__body
            section.cards__column
                .cards__row
                    +filter()
                .cards__row
                    +registration-form()
            section.cards__column
                .cards__row
                    +reservation-form()
                .cards__row
                    +cards-sign-in()
            section.cards__column   
                .cards__row
                    +date-dropdown({ inputField: 'single',isInline: 'inline', type: 'hidden' }) 
                .cards__row
                    +slick-slider({ values: [{image:'image1.jpg'},{image:'image1.jpg'},{image:'image1.jpg'},{image:'image1.jpg'}], number: '888', isLux: ' Люкс', cost: '9 990', votes: '145', rating: '5',})
                .cards__row
                    +slick-slider({ values: [{image:'image2.jpg'},{image:'image2.jpg'},{image:'image2.jpg'},{image:'image2.jpg'}], number: '840', cost: '9 900', votes: '65', rating: '4', arrow: 'noarrow' })

            
    

