extends ../../components/base/layout/main
block variables
    - var pageClass = "White";
block content
    .form-elements
        .form-elements__fields
            include ../../components/text-field-default/text-field-default.pug
        .form-elements__buttons
            include ../../components/checkbox-buttons/checkbox-buttons.pug
            include ../../components/radio-buttons/radio-buttons.pug