extends ../../components/base/layout/main
block variables
    - var title = "form-elements";
block content

    include ../../components/heading/heading.pug
    include ../../components/text-field/text-field.pug
    include ../../components/dropdown/dropdown.pug
    include ../../components/calendar-two-inputs/calendar-two-inputs.pug
    include ../../components/checkbox-buttons/checkbox-buttons.pug
    include ../../components/radio-buttons/radio-buttons.pug
    include ../../components/toggle/toggle.pug
    include ../../components/like-button/like-button.pug
    include ../../components/star/star.pug
    include ../../components/range-slider/range-slider.pug
    include ../../components/buttons/buttons.pug
    include ../../components/pagination/pagination.pug
    include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
    include ../../components/icon-text/icon-text.pug
    include ../../components/bullet-list/bullet-list.pug
    include ../../components/comments/comments.pug

    main.form-elements
        .form-elements__container
            article.form-elements__fields
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'text field', })
                    +text-field({ type: 'email', name: 'email-input', placeholder: 'Email', typeOfField: 'normal' })
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'dropdown', })
                    +dropdown({ 
                        text: 'Сколько гостей',
                        hasButtons: true,
                        options: [
                        { text: 'взрослые', group: 'гости' },
                        { text: 'дети', group: 'гости' },
                        { text: 'младенцы' },
                        ],
                    })
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'Masked text field', })
                    +text-field({ placeholder: 'ДД.ММ.ГГГГ',  typeOfField: 'masked', })
                .form-elements__wrapper
                    +date-dropdown({ inputField: 'two-inputs', firstHeading: 'date dropdown', secondHeading: 'date dropdown', })
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'filter date dropdown', })
                    +date-dropdown({ inputField: 'single', })
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'subscription text field', })
                    +text-field({ placeholder: 'Email',  typeOfField: 'Subscribe', })
                .form-elements__wrapper
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'dropdown', })
                    +dropdown({ 
                        width: 'short',
                        options: [
                        { text: 'спальни', number: 2, },
                        { text: 'кровати', number: 2, },
                        { text: 'ванные комнаты',number: 2, },
                        ],
                    })
                .form-elements__wrapper
                    +expandable({ header: 'expandable checkbox list',
                                value1: 'Завтрак',
                                value2: 'Письменный стол',
                                value3: 'Стул для кормления',
                                value4: 'Кроватка',
                                value5: 'Телевизор',
                                value6: 'Шампунь', isChecked: 'checked'})                                                                                                            
            article.form-elements__check-buttons
                .form-elements__column-second
                    .form-elements__checkbox-heading
                        +heading({ type: 'h3', text: 'checkbox buttons', })
                    .form-elements__checkbox-button
                        +checkbox-button({ name: 'checkbox1', text1: 'Можно курить', text2: 'Можно с питомцами', text3: 'Можно пригласить гостей (до 10 человек)', isChecked: 'checked' })  
                .form-elements__column-second
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'radio buttons', })
                    .form-elements__radio-buttons
                        .form-elements__radio-button
                            +radio-button({name: 'radio-button', value: 'man', text: 'Мужчина',  isChecked: 'checked'})
                        .form-elements__radio-button
                            +radio-button({name: 'radio-button', value: 'woman', text: 'Женщина', })
                .form-elements__column-second
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'toggle', })
                    .form-elements__toggle
                        +toggle-button({ name: 'toggle', text: 'Получать спецпредложения', isChecked: 'checked' })
                        +toggle-button({ name: 'toggle', text: 'Получать спецпредложения'})
                .form-elements__column-second
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'like button',  })
                    .form-elements__like-button
                        +like-button({likeNumber: '2' })
                        +like-button({likeNumber: '12', isChecked: 'checked' })
                .form-elements__column-second
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'rate button',  })
                    .form-elements__rate-button
                        +rate-button({ name: 'rating', value: '4', isChecked4: 'checked'})
                .form-elements__column-second
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'Rich checkbox buttons', })   
                    .form-elements__rich-checkbox
                        +checkbox-button({name: 'rich-checkbox', text1: 'Широкий коридор', describtion: 'Ширина коридоров в номере не менее 91 см.', typeOfcheckBox: 'rich-checkbox'})
                        +checkbox-button({name: 'rich-checkbox', text1: 'Помощник для инвалидов', describtion: 'На 1 этаже вас встретит специалист  и проводит до номера.', typeOfcheckBox: 'rich-checkbox'})
            article.form-elements__buttons
                .form-elements__column-third
                    +range-slider({ 
                        headerText: 'range slider', 
                        type: 'double', 
                        min: 1000, 
                        max: 15000, 
                        step: 1, 
                        from: 5000, 
                        to: 10000, 
                        })
                .form-elements__column-third
                    .form-elements__heading
                        +heading({ type: 'h3', text: 'buttons',  })
                    .form-elements__button
                        +button({styleType: 'simple', href: 'link.html', text: 'click me'})
                    .form-elements__button
                        +button({styleType: 'empty', href: 'link.html', text: 'click me'})
                    .form-elements__button
                        +button({styleType: 'borderless', href: 'link.html', text: 'click me'})
                    .form-elements__button
                        +button({styleType: 'long', href: 'link.html', text: 'Перейти к оплате'})
                .form-elements__column-third
                        .form-elements__heading
                            +heading({ type: 'h3', text: 'pagination',  })
                        .form-elements__pagination
                            +pagination({href:'link.html', number1: '1',number2: '2',number3: '3',number4: '...',number5: '5', isActive: '.active'})
                .form-elements__column-third
                        .form-elements__heading
                            +heading({ type: 'h3', text: 'bullet list', })
                        .form-elements__bullet-list
                            +bullet-list({value1: 'Нельзя с питомцами', value2: 'Без вечеринок и мероприятий', value3: 'Время прибытия — после 13:00, а выезд до 12:00'})
        .form-elements__bottom-container
            .form-elements__bottom-wrapper
                .form-elements__icon-block
                    .form-elements__icon-item
                        +icon-text({icon:'insert_emoticon', title: 'Комфорт', describe: 'Шумопоглощающие стены', hasUnderline: 'Has'})
                    .form-elements__icon-item
                        +icon-text({icon:'location_city', title: 'Удобство', describe: 'Окно в каждой из спален'})    
                .form-elements__comment-wrapper
                    +comment({
                        avatarSourcePath: 'avatar.png',
                        likeNumber: '12',
                        isChecked: 'checked',
                        name: 'Мурад Сарафанов',
                        date: '5 дней назад',
                        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})