extends ../../components/base/layout/main
block variables
    - var pageClass = "White";
block content
    .form-elements
        .form-elements__fields
            include ../../components/text-field-default/text-field-default.pug
            include ../../components/icon-text/icon-text.pug
            .form-elements__datepicker
                include ../../components/calendar/datepicker.pug
        .form-elements__buttons
            include ../../components/checkbox-buttons/checkbox-buttons.pug
            include ../../components/radio-buttons/radio-buttons.pug
            include ../../components/toggle/toggle.pug
        .form-elements__slider
            include ../../components/buttons/buttons.pug
            include ../../components/bullet-list/bullet-list.pug
            include ../../components/dropdown-guest/dropdown-guest.pug
            include ../../components/pagination/pagination.pug

