extends ../../components/base/layout/main
block variables
    - var pageClass = "GreyBackground";
block content
  block var
    - var userLogin = 0;
  include ../../components/nav-bar/nav-bar.pug
  .indent 
  block var
    - var userLogin = 1;
  include ../../components/nav-bar/nav-bar.pug
block footer
  footer
    .indent
    .colums
      .container
        include ../../components/footer-links/footer-links.pug
    .indent-1px-top
    .Copyright__wrapper
      .container
          include ../../components/copyright-bar/copyright-bar.pug
    .indent
    .Page__wrapper
      .container
        include ../../components/footer-creative/footer-creative.pug