extends index.pug

block variables
  - var pageTitle='Search-room'

block content

  include ../../components/filter/filter.pug
  include ../../components/range-slider/range-slider.pug
  include ../../components/checkbox-buttons/checkbox-buttons.pug
  include ../../components/expandable-checkbox-block/expandable-checkbox-block.pug
  include ../../components/slick-slider/slick-slider.pug
  include ../../components/pagination/pagination.pug


  main.search-room
    section.search-room__filter
      .search-room__item
        +heading({ type: 'h3', text: 'даты пребывания в отеле', })
        +date-dropdown({ inputField: 'single', })  
      .search-room__item
        +heading({ type: 'h3', text: 'Гости', })
        +dropdown({ 
            text: 'Сколько гостей',
            hasButtons: true,
            options: [
            { text: 'взрослые', group: 'гости' },
            { text: 'дети', group: 'гости' },
            { text: 'младенцы' },
            ],
        })
      .search-room__item
        +range-slider({ 
          headerText: 'Диапазон цены', 
          type: 'double', 
          min: 1000, 
          max: 15000, 
          step: 1, 
          from: 5000, 
          to: 10000, 
          })
        .range-slider__discribtion Стоимость за сутки пребывания в номере
      .search-room__item
        +heading({ type: 'h3', text: 'Правила дома', })
        .search-room__checkbox-button
          +checkbox-button({ values: [{ text: 'Можно курить', }, { text: 'Можно с питомцами',  isChecked: 'checked'}, { text: 'Можно пригласить гостей (до 10 человек)',  isChecked: 'checked'}], })  
      .search-room__item
        +heading({ type: 'h3', text: 'Доступность', })
        .search-room__rich-button
          +checkbox-button({values: [{ text: 'Широкий коридор', describtion: 'Ширина коридоров в номере не менее 91 см.', typeOfcheckBox: 'rich-checkbox'},{ text: 'Помощник для инвалидов', describtion: 'На 1 этаже вас встретит специалист  и проводит до номера.', typeOfcheckBox: 'rich-checkbox'}] })
      .search-room__item
        +heading({ type: 'h3', text: 'Удобства номера', })
        +dropdown({ 
          width: 'short',
          options: [
          { text: 'спальни', number: 2, },
          { text: 'кровати', number: 2, },
          { text: 'ванные комнаты',number: 2, },
          ],
        })
      .search-room__item
        +expandable({ header: 'Дополнительные удобства',
          value1: 'Завтрак',
          value2: 'Письменный стол',
          value3: 'Стул для кормления',
          value4: 'Кроватка',
          value5: 'Телевизор',
          value6: 'Шампунь', isChecked: 'checked'})  
    section.search-room__column
        .search-room__title Номера, которые мы для вас подобрали
        .search-room__rooms
          .search-room__row
            .search-room__number
              +slick-slider({ image1: 'image1.jpg', image2: 'image1.jpg', image3: 'image1.jpg', image4: 'image1.jpg', number: '888', isLux: 'Люкс', cost: '9 990', votes: '145', rating: '5',})
            .search-room__number
              +slick-slider({ image1: 'image2.jpg', image2: 'image2.jpg', image3: 'image2.jpg', image4: 'image2.jpg', number: '840', cost: '9 900', votes: '65', rating: '4', arrow: 'noarrow' })
            .search-room__number
              +slick-slider({ image1: 'image3.jpg', image2: 'image3.jpg', image3: 'image3.jpg', image4: 'image3.jpg', number: '980', isLux: 'Люкс', cost: '8 500', votes: '35', rating: '3', arrow: 'noarrow'  })
          .search-room__row
            .search-room__number
              +slick-slider({ image1: 'image4.jpg', image2: 'image4.jpg', image3: 'image4.jpg', image4: 'image4.jpg', number: '856', cost: '7 300', votes: '19', rating: '5', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image5.jpg', image2: 'image5.jpg', image3: 'image5.jpg', image4: 'image5.jpg', number: '740', cost: '6 000', votes: '44', rating: '5', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image6.jpg', image2: 'image6.jpg', image3: 'image6.jpg', image4: 'image6.jpg', number: '982', cost: '5 800', votes: '56', rating: '3', arrow: 'noarrow'  }) 
          .search-room__row
            .search-room__number
              +slick-slider({ image1: 'image7.jpg', image2: 'image7.jpg', image3: 'image7.jpg', image4: 'image7.jpg', number: '678', cost: '5 500', votes: '45', rating: '5', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image8.jpg', image2: 'image8.jpg', image3: 'image8.jpg', image4: 'image8.jpg', number: '450', cost: '5 300', votes: '39', rating: '4', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image9.jpg', image2: 'image9.jpg', image3: 'image9.jpg', image4: 'image9.jpg', number: '350', cost: '5 000', votes: '77', rating: '3', arrow: 'noarrow'  })
          .search-room__row
            .search-room__number
              +slick-slider({ image1: 'image10.jpg', image2: 'image10.jpg', image3: 'image10.jpg', image4: 'image10.jpg', number: '666  ', cost: '5 000', votes: '25', rating: '5', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image11.jpg', image2: 'image11.jpg', image3: 'image11.jpg', image4: 'image11.jpg', number: '444', cost: '5 000', votes: '15', rating: '3', arrow: 'noarrow'  })
            .search-room__number
              +slick-slider({ image1: 'image12.jpg', image2: 'image12.jpg', image3: 'image12.jpg', image4: 'image12.jpg', number: '352', cost: '5 000', votes: '55', rating: '3', arrow: 'noarrow'  })
        section.search-room__pagination
            +pagination({href:'link.html', number1: '1',number2: '2',number3: '3',number4: '...',number5: '15', isActive: 'active'})
  .search-room__border