include ../../components/checkbox-buttons/checkbox-buttons.pug
mixin expandable-checkbox-block({ header }={})

    .expandable-checkbox-block.js-expandable-checkbox-block
        span.expandable-checkbox__arrow expand_more
        +heading({ type: 'h3', text: `${header}`, })
        ul.checkbox-buttons
            +checkbox-buttons({ values: [{ text: 'Завтрак', }, { text: 'Письменный стол',  isChecked: 'checked'}, { text: 'Стул для кормления',  isChecked: 'checked'}, { text: 'Кроватка',  isChecked: 'checked'},{ text: 'Телевизор'},{ text: 'Шампунь'}], })  
