.expandable-checkbox-block {
    position: relative;
    width: 100%;

    @media (max-width: 1150px) {
        min-width: 266px;
    }

    &__heading {
        margin-bottom: 18px;
    }

    &__container {
        clear: both;
        display: none;
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    &__arrow {
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Material Icons';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        min-height: 44px;
        line-height: 44px;
        min-width: 44px;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: none;
        top: -15px;

        &::before {
            content: '';
            cursor: pointer;
            min-height: 20px;
            min-width: 270px;
            position: absolute;
            right: 0;
            top: 13px;
        }
    }

    &_rotated {
        .expandable-checkbox-block__arrow {
            transform: rotate(-180deg);
        }

        .expandable-checkbox-block__container {
            display: block;
        }
    }
}
