.expandable-checkbox-block {
    max-width: 266px;
    min-width: 266px;
    position: absolute;
    width: 100%;
    /* stylelint-disable  scss/selector-no-redundant-nesting-selector */

    @media (max-width: 1150px) {
        position: relative;
    }

    &__heading {
        margin-bottom: 18px;
    }

    &__container {
        clear: both;
        display: none;
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    &__arrow {
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Material Icons';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        height: 44px;
        line-height: 44px;
        min-width: 44px;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: none;
        top: -15px;

        &::before {
            content: '';
            cursor: pointer;
            min-height: 20px;
            min-width: 270px;
            position: absolute;
            right: 0;
            top: 13px;
        }
    }

    &__rotate {
        transform: rotate(-180deg);
    }

    &__rotate-back::before {
        left: 0;
    }
}
