extends ../base-ui/base-ui
block variables
    - var title = 'Colors & Type'
block content
    include ../../components/colors-block/colors-block.pug
    include ../../components/font-intro/font-intro.pug
    main.colors-and-type
        .colors-and-type__color-intro
            .colors-and-type__color-item
                +colors-intro({ text: 'Dark Shade 100%', description: '#1F2041', backgroundColor: 'darkest shade', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Dark Shade 75%', description: '#1F2041', backgroundColor: 'dark shade', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Dark Shade 50%', description: '#1F2041', backgroundColor: 'shade', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Dark Shade 25%', description: '#1F2041', backgroundColor: 'light shade', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Dark Shade 5%', description: '#1F2041', backgroundColor: 'lightest shade', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Purple', description: '#BC9CFF', backgroundColor: 'purple', })
            .colors-and-type__color-item
                +colors-intro({ text: 'Green', description: '#6FCF97', backgroundColor: 'green', })
        .colors-and-type__font-intro
            .colors-and-type__font-item
                +font-intro({ typeOfBlock: 'H1', blockText: 'H1', textOfBlock: 'This one is the sub-section or widget title'})
            .colors-and-type__font-item
                +font-intro({ typeOfBlock: 'H2', blockText: 'H2', textOfBlock: 'Next one is the item title inside widgets'})
            .colors-and-type__font-item
                +font-intro({ typeOfBlock: 'H3', blockText: 'H3', textOfBlock: 'This is a label or CTA text'})
            .colors-and-type__font-item
                +font-intro({ typeOfBlock: 'Body', blockText: 'Body', textOfBlock: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})
