//- .text-field
//-     .text-field__text masked text field 
//-     .text-field__input
//-         form.text-field__action
//-             label(for='input-field')
//-             input.input-field.js-text-field__masked(type="text" placeholder='ДД.ММ.ГГГГ')