.range-slider
    .range-slider__head
        span.range-slider__text Range slider
        .range-slider__space
            input.js-input-from(type="text" value="0" readonly)
            input.js-input-to(type="text" value="0" readonly)
    .range-slider__slider
        input.js-range-slider(type="text"  value="")

