body {
    margin: 60px;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  .range-slider {
    position: relative;
    height: 80px;
    width: 266px;
  
  
  }
  .range-slider__head {
      display: flex;
      justify-content: space-between;
  }
  .range-slider__space {
      display: flex;
      width: 102px;
      flex-wrap:nowrap;
  }
  .js-input-from,
  .js-input-to {
    border: none;
    position: relative;
    width: 100%;

  }
  .irs .irs-bar{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF ;
  }
  .irs .irs-handle {
    top: 31px;
   background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  box-shadow:none ;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  }
  .irs .irs-line {
    top: 35px;
    background: #FFFFFF ;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25) ;
  border-radius: 3px ;
  height: 6px;
  }
  .irs .irs-handle:hover {
    border-color:white;
    background-color: white;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  .range-slider__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    
  }