extends ../../components/base/layout/main
block variables
        - var pageClass = "GreyBackground";
block content
    include ../../components/logo-toxin/logo-toxin.pug
    include ../../components/navigation-bar/navigation-bar.pug
    include ../../components/footer/footer.pug
    include ../../components/footer-copyright/footer-copyright.pug
    include ../../components/footer-creative/footer-creative.pug
    include ../../components/social/social.pug
    main.headers-and-footers
        article.headers-and-footers__item
            +navigation-bar({ values: [
                {
                    link: '/mock-address/change-me',
                    text: 'О нас',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Услуги',
                    links: [
                        {href:'/mock-address/change-me', textLink:'Book'},
                        {href:'/mock-address/change-me', textLink:'Order'},
                ]
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Вакансии',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Новости',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Соглашения',
                    links: [
                        {href:'/mock-address/change-me', textLink:'Book'},
                        {href:'/mock-address/change-me', textLink:'Order'},
                ]
                },
            ]})
        article.headers-and-footers__item
            +navigation-bar({ values: [
                {
                    link: '/mock-address/change-me',
                    text: 'О нас',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Услуги',
                    links: [
                        {href:'/mock-address/change-me', textLink:'Book'},
                        {href:'/mock-address/change-me', textLink:'Order'},
                ]
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Вакансии',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Новости',
                },
                {
                    link: '/mock-address/change-me',
                    text: 'Соглашения',
                    links: [
                        {href:'/mock-address/change-me', textLink:'Book'},
                        {href:'/mock-address/change-me', textLink:'Order'},
                ]
                },
            ],
            isLogged: 'logged' })
        +footer({ values: [
            {
                headerOfLink: 'Навигация',
                links: [
                    {textLink: 'О нас'},
                    {textLink: 'Новости'},
                    {textLink: 'Служба поддержки'},
                    {textLink: 'Услуги'},
                ],
            },
            {
                headerOfLink: 'О нас',
                links: [
                    {textLink: 'О сервисе'},
                    {textLink: 'Наша команда'},
                    {textLink: 'Вакансии'},
                    {textLink: 'Инвесторы'},
                ],
            },
            {
                headerOfLink: 'Служба поддержки',
                links: [
                    {textLink: 'Соглашения'},
                    {textLink: 'Сообщества'},
                    {textLink: 'Связь с нами'},
                ],
            },
            ],
            mainfooterDescribtion: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
            headerOfSubscribe: 'Подписка',
            subscribeText: 'Получайте специальные предложения и новости сервиса',
            })
        +footer-copyright()
        +footer-creative()