.datepicker-container {
    display: flex;
    max-width: 320px;
    position: relative;

    @media (max-width: 430px) {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__inputs {
        @media (max-width: 430px) {
            width: 100%;
        }
    }

    &:nth-child(2) {
        max-width: 266px;
    }

    .datepicker-two-inputs {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        min-height: 44px;
        padding: 0;
        padding-bottom: 2px;
        padding-left: 14px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &_end {
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            color: rgba(31, 32, 65, 0.75);
            cursor: pointer;
            font-family: 'Montserrat', Arial, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            min-height: 44px;
            padding: 0;
            padding-bottom: 2px;
            padding-left: 14px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    .datepicker-here {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        min-height: 44px;
        padding-left: 15px;
        width: 100%;

        &_inline {
            padding-left: 0;
        }
    }

    &__arrow {
        box-sizing: border-box;
        color: rgba(31, 32, 65, 0.5);
        display: block;
        font-family: 'Material Icons';
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        line-height: 44px;
        min-height: 44px;
        min-width: 44px;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
    }

    &__item {
        margin-right: 20px;
        position: relative;

        @media (max-width: 430px) {
            margin-right: unset;
            width: 100%;
        }

        &:nth-child(2) {
            margin-right: unset;
        }
    }
}
