.datepicker--nav i {
  align-items: center;
  color: #bc9cff;
  display: flex;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

.datepicker--nav-title {
  color: #1f2041;
  font-family: 'Montserrat';
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.datepicker--nav {
  border-bottom: unset;
  margin: 0 auto;
  max-width: 286px;
  padding: 0;
}
    
.datepicker--day-name {
  align-items: center;
  color: #bc9cff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
   
    
}

.datepicker--days-names {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 13px;
  width: 280px;
}

.datepicker--cell-day {
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  align-items: center;
  color: rgba(31, 32, 65, 0.25);
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell.-current- {
  align-items: center;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--content .datepicker--cell:hover {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
}

.datepicker--cell.-selected- {
  align-items: center;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--cell.-selected-.-focus- {
  background-color: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.-range-from-::after {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 50% 0 0 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  top: 0;
  width: 100%;

}

.-range-to-::after {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 0 50% 50% 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  top: 0;
  width: 100%;

}

.datepicker {
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  box-sizing: border-box;
  padding: 0;
  width: unset;

  &-inline {
    box-sizing: border-box;
    max-width: 320px;
  }
}

.datepicker {
  padding: 15px 3px 20px;
}

.datepicker-here {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(31, 32, 65, 0.75);
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 44px;
  line-height: 24px;
  max-width: 266px;
  padding-left: 16px;
}

.datepicker-here {
  cursor: pointer;
  height: 44px;
  padding: 0;
  padding-left: 15px;
  width: 100%;
}

.datepicker__title {
  color: #1f2041;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}

.datepicker-container__arrow {
  box-sizing: border-box;
  color: rgba(31, 32, 65, 0.5);
  display: block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  width: 44px;
}

.datepicker-container__item {
  margin-right: 20px;
  position: relative;

  &:nth-child(2) {
    margin-right: unset;
  }
}

.datepicker--cell {
  height: 40px;
}

.datepicker--button {
  color: #bc9cff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  height: min-content;
  line-height: 15px;
  max-width: min-content;
  text-align: left;
  text-transform: uppercase;
  user-select: none;  
}

.datepicker--button-apply {
  color: #bc9cff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}

.datepicker .datepicker--buttons {
  border: unset;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 280px;
  padding: 0;
}

.datepicker--nav i {
  align-items: center;
  color: #bc9cff;
  display: flex;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

.datepicker--nav-title {
  color: #1f2041;
  font-family: 'Montserrat';
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.datepicker--day-name {
  align-items: center;
  color: #bc9cff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
}

.datepicker--cell-day {
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  align-items: center;
  color: rgba(31, 32, 65, 0.25);
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell.-current- {
  align-items: center;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--content .datepicker--cell:hover {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  color: #fff;
}

.datepicker--content {
  margin: 25px 12px 16px;
  
}

.datepicker--cell.-selected- {
  align-items: center;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  display: flex;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  text-align: center;
}

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);;
}

.-range-from-::after {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 50% 0 0 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  top: 0;
  width: 100%;

}

.-range-to-::after {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 0 50% 50% 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  top: 0;
  width: 100%;

}

.datepicker-container {
  display: flex;
  position: relative;
  width: 320px;

  &:nth-child(2) {
    width: 266px;
  }
}

.datepicker-two-inputs {
  cursor: pointer;
  height: 44px;
  padding: 0;
  padding-bottom: 2px;
  padding-left: 14px;
  width: 100%;
}

.datepicker__title {
  color: #1f2041;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.datepicker-container__arrow {
  box-sizing: border-box;
  color: #000;
  display: block;
  font-family: 'Material Icons';
  font-size: 24px;

  font-style: normal;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 44px;
}
