.landing-page {
    position: relative;
    min-height: 830px;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    @media (max-width: 1000px) {
        min-height: 540px;
      }
    @media (max-width: 650px) {
        min-height: 460px;
    }
}
.landing-page__quote {
    position: absolute;
    margin: unset;
    line-height: 24px;
    font-family: 'Montserrat';
    width: 300px;
    bottom: 21px;
    right: 135px;
    font-size: 14px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
    @media (max-width: 650px) {
        right: 25%;
       align-self: center;
    }

}
.landing-page__filter {
    padding-top: 70px;
    padding-left: 140px;
    @media (max-width: 650px) {
        display: flex;
        padding-top: 20px;
        padding-left: unset;
        align-items: center;
        justify-content: center
      }
}
@media (max-width: 430px) {    
    .filter {
      max-width: 280px;
    }
    .datepicker__container {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
    .filter__wrapper {  
      padding: 15px 15px 15px 15px;
    }
    .buttons__long {
      min-width: 100%;
    }
    .landing-page__quote {
        display: none;
    }
  }