.search-room {
  display: flex;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1180px;
  justify-content: space-between;
  &__filter {
    margin-top: 31px;
  }
  &__rooms {
    min-height: 1091px;
  }
  &__checkbox-button {
    margin-left: -1px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    max-width: 834px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    min-width: 834px;
    &:first-child {
      margin-bottom: 21px;
    }
    &:nth-child(2){
      margin-bottom: 20px;
    }
    &:nth-child(3){
      margin-bottom: 21px;
    }
  }
  &__title {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    margin: 30px 0px 20.5px 0px;
    position: relative;
    right: 1px;
  }
  &__item {
    &:first-child {
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      margin-bottom: 29px;
    }
    &:nth-child(3) {
      margin-bottom: 28px;
    }
    &:nth-child(4) {
      margin-bottom: 32px;
    }
    &:nth-child(5) {
      margin-bottom: 30px;
    }
    &:nth-child(6) {
      margin-bottom: 24px;
    }
  }
  &__number {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
  }
  &__pagination {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 73px;
    margin-right: 17px;
    
  }
}
.search-room__border {
  display: flex;
  min-height: 1px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

}
.range-slider__discribtion {
 margin-top: 5px;
}
.search-room__rich-button {
  margin-top: -1px;
}