.icon-text {
  display: flex;
  flex-wrap: wrap;
  width: 291px;
  
  &__content {
    padding-left: 9px;
  }
  
  &__image {
    margin-top: 5px;
  }
  
  &__icon {
    background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-background-clip: text;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    line-height: 41px;
    -webkit-text-fill-color: transparent;
    text-transform: none;
  }

  &__title {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;  
  }

  &__describe {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;          
  }

  &__row {
    display: flex;
    padding-top: 10px;
  }

  &__underline {
    background: rgba(31, 32, 65, 0.1);
    height: 1px;
          
    margin-top: 13px;
    max-width: 280px;
    width: 100%;
  }
}
