mixin icon-text({icon, title, describe, hasUnderline}={})   

    .icon-text
        .icon-text__row
            .icon-text__image
                i.icon-text__icon=icon 
            .icon-text__content
                .icon-text__title=title 
                .icon-text__describe=describe
        if hasUnderline 
            .icon-text__underline 