.icon-text
    .icon-text__row
        .icon-text__image
            i.icon-text__icon insert_emoticon
        .icon-text__content
            .icon-text__title Комфорт
            .icon-text__describe Шумопоглощающие стены
    .icon-text__row
        .icon-text__image
            i.icon-text__icon location_city
        .icon-text__content
            .icon-text__title Удобство
            .icon-text__describe Окно в каждой из спален