.colors-intro {
    display: flex;

    &__text {
        padding-left: 39px;
        padding-top: 7px;
    }

    &__text-bold {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        line-height: 28px;
    }

    &__description {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
    }

    &__squares {
        border-radius: 6px;
        min-height: 70px;
        min-width: 70px;

        &_color_shade100 {
            background: rgba(31, 32, 65, 1);
        }

        &_color_shade75 {
            background: rgba(31, 32, 65, 0.75);
        }

        &_color_shade50 {
            background: rgba(31, 32, 65, 0.5);
        }

        &_color_shade25 {
            background: rgba(31, 32, 65, 0.25);
        }

        &_color_shade5 {
            background: rgba(31, 32, 65, 0.05);
        }

        &_color_purple {
            background: #bc9cff;
        }

        &_color_green {
            background: #6fcf97;
        }
    }
}
