
mixin bullet-list({ values = [ { text: 'Enter', circleColor: ' ', isShort: ' ' }, { text: 'text', circleColor: ' ', isShort: ' ' }, { text: 'here', circleColor: ' ', isShort: ' ' }]  } = {})
    - const sizeModifiers = { short: 'button_size_short', long: 'button_size_long' }
    - const colorModifiers = { white: 'button_color_white' }
    - const classes = ['button__item', sizeModifiers[size], colorModifiers[color]]
    .bullet-list
        ul.bullet-list__list
            each value in values
                - const { circleColor, text, isShort } = value
                case circleColor
                    when 'gold'
                        - colorModifier = 'bullet-list__color_gold'
                    when 'green'
                        - colorModifier = 'bullet-list__color_green'
                    when 'pink'
                        - colorModifier = 'bullet-list__color_pink'
                    when 'black'
                        - colorModifier = 'bullet-list__color_black'
                    default
                        - colorModifier = null
                li.bullet-list__items(class=`bullet-list__items_${isShort}`)=text
                    span.bullet-list__color(class=colorModifier)