.bullet-list
    .bullet-list__title bullet list
    ul.bullet-list__list
        li.bullet-list__items Нельзя с питомцами
            span.circle
        li.bullet-list__items Без вечеринок и мероприятий
            span.circle
        li.bullet-list__items Время прибытия — после 13:00, <br> а выезд до 12:0
            span.circle
