.bullet-list {
    &__items {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
        list-style-type: none;
        margin-bottom: 10px;
        max-width: 265px;
        padding-left: 20px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__color {
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50%;
        height: 10px;
        left: 0;
        position: absolute;
        top: 7px;
        width: 10px;
    }
}
