.footer {
    align-items: center;
    background: #fff;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
    display: flex;
    justify-content: center;
    padding: 77px 0 81px;

    @media (max-width: 768px) {
        display: none;
    }

    &__wrapper {
        align-items: flex-start;
        display: flex;
        max-width: 1180px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        width: 100%;

        @media (max-width: 1000px) {
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    &__link {
        display: flex;
        margin-bottom: 21px;

        &:first-child {
            margin-top: 1px;
        }
    }

    &__refers {
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
    }

    &__subscribe-text,
    &__toxin-text {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
    }

    &__subscribe-text {
        display: flex;
        margin-bottom: 23px;
    }

    &__toxin-icon {
        margin-bottom: 13px;
    }

    &__header {
        margin-bottom: 21px;

        &:nth-child(5) {
            margin-bottom: 13px;
        }
    }

    &__subscribe-button {
        display: flex;
        max-width: 260px;
        width: 100%;
    }

    &__menu {
        padding-top: 24px;

        &:first-child {

            max-width: 260px;
            padding-top: 19px;

            @media (max-width: 1000px) {
                margin-bottom: 20px;
            }

            @media (max-width: 366px) {
                max-width: 260px;
                padding-top: 19px;
            }
        }

        &:nth-child(2) {
            padding-left: 39px;

            @media (max-width: 366px) {
                padding-left: 0;
            }
        }

        &:nth-child(3) {
            padding-left: 58px;

            @media (max-width: 366px) {
                padding-left: 10px;
            }
        }

        &:nth-child(4) {
            padding-left: 93px;

            @media (max-width: 366px) {
                padding-left: 0;
            }
        }

        &:nth-child(5) {
            max-width: 300px;
            padding-left: 52px;

            @media (max-width: 366px) {
                max-width: 300px;
                padding-left: 0;
            }
        }
    }
}
