.submenu {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    list-style: none;

    &__item {
        position: relative;

        &:hover {
            background: rgb(190, 190, 190);
        }
    }

    &__link {
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
    }
}
