.room-detail {
    width: 100%;

    @media (max-width: 642px) {
        justify-content: center;
    }

    &__container {
        display: flex;
        width: 100%;
        margin-bottom: 69px;
    }

    &__icon-text {
        &:nth-child(2) {
            margin-bottom: 10px;
            margin-top: 12px;
        }

        &:nth-child(3) {
            margin-bottom: 12px;
        }
    }

    &__room {
        display: flex;
        flex-direction: column;


        @media (max-width: 642px) {
            width: 100%;
        }
    }

    &__preview {
        background: url('./img/room-detail-first.jpg') center/cover no-repeat;
        max-height: 485px;
        width: 100%;

        @media (max-width: 642px) {
            display: none;
        }

        @media (max-width: 1140px) {
            width: calc(100vw - 40%);
        }
    }

    &__item-one {
        background: url('./img/room-detail-second.jpg') center/cover no-repeat;
        min-height: 243px;
        width: 461px;

        @media (max-width: 642px) {
            width: 100%;
        }
    }

    &__item-two {
        background: url('./img/room-detail-third.jpg') center/cover no-repeat;
        min-height: 242px;
        width: 461px;

        @media (max-width: 642px) {
            width: 100%;
        }
    }

    &__chart {
        display: flex;
        height: 100%;
        margin-top: 20px;
        min-width: 350px;
        overflow-x: visible;
        width: 100%;

        @media (max-width: 710px) {
            min-width: unset;
        }
    }

    &__chart-icon {
        display: flex;
        max-width: 121px;
        min-height: 120px;
        min-width: 121px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 63px;
        max-width: 1180px;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: 1140px) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__first-column {
        display: flex;
        flex-direction: column;
        max-width: 712px;

        @media (max-width: 710px) {
            justify-content: center;
        }

        @media (max-width: 1140px) {
            min-width: unset;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__second-column {
        display: flex;
        flex-direction: column;
        margin-top: 1px;
        max-width: 380px;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width: 625px) {
            align-items: center;
            flex-direction: column;
        }

        @media (max-width: 710px) {
            align-self: center;
            flex-direction: column;
        }
    }

    &__info-header {
        margin-bottom: 10px;

        @media (max-width: 710px) {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }
    }

    &__rules {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        max-width: 702px;

        @media (max-width: 625px) {
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__reviews {
        margin-left: -1px;
        margin-top: 27px;
    }

    &__reviews-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__reviews-count {
        color: rgba(31, 32, 65, 0.5);
        display: flex;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        margin-top: 3px;
    }

    &__bullet-list {
        margin-top: 18px;
    }

    &__comment {
        &:last-child {
            margin-top: 23px;
        }
    }

    &__cancellation {
        max-width: 341px;
    }

    &__cancellation-text {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
        margin-top: 18px;
    }

    &__rule-list {
        max-width: 260px;
    }

    &__rule-list-header {
        margin-left: 20px;
    }

    &__list {
        margin-left: 30px;
        margin-top: 28px;

        @media (max-width: 355px) {
            margin-left: 5px;
        }
    }

    &__border {
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        display: flex;
        min-height: 1px;
    }
}
