.colums__row
    .colums__Descr
        .colums__items
            .item__logo
               include ../logo-toxin/logo 
            .items__about
            .items__body 
                span.text__footer-desc Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis
    .colums__Navigation
        .colums__items
            .colums__links
                ul.colums__list
                    li.colums__unordered
                        a.colums__refers.bold(href='link.html') navigation
                    li.colums__unordered
                        a.colums__refers(href='link.html') About US
                    li.colums__unordered
                        a.colums__refers(href='link.html') News
                    li.colums__unordered
                        a.colums__refers(href='link.html') Support
                    li.colums__unordered
                        a.colums__refers(href='link.html') Products
    .colums__About-us
        .colums__items
            .colums__links
                ul.colums__list
                    li.colums__unordered
                        a.colums__refers.bold(href='link.html') about us
                    li.colums__unordered
                        a.colums__refers(href='link.html') Who are we
                    li.colums__unordered
                        a.colums__refers(href='link.html') Our team
                    li.colums__unordered
                        a.colums__refers(href='link.html') Careers
                    li.colums__unordered
                        a.colums__refers(href='link.html') Investors
    .colums__Support
        .colums__items
            .colums__links
                ul.colums__list
                    li.colums__unordered
                        a.colums__refers.bold(href='link.html') support
                    li.colums__unordered
                        a.colums__refers(href='link.html') Documentation
                    li.colums__unordered
                        a.colums__refers(href='link.html') Community
                    li.colums__unordered
                        a.colums__refers(href='link.html') Get in Touch
    .colums__Sub
        .colums__items
                include ../subscribe/subscribe.pug