
.colums__row  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 104px;
    max-width: 1440px;
    width: 100%;
    margin: 104px auto 0 auto;
    box-sizing: border-box;
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }
.colums__menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 950px) {
        margin: 20px auto;
      }
    @media (max-width: 464px) {
        flex-direction: column;
        text-align: center;
    }
}
}
.colums__Descr {
    max-width: 260px;
    padding-top: 0px;

}
.colums__Navigation {

}
//убираем отступы
.colums__list {
    padding: 0px;
    margin: 0px;
}
//шрифты
.text__footer-desc {
    height: 96px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.colums__refers {
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color:rgba(31, 32, 65, 0.5);
    text-decoration: none;
}
.bold {
    font-weight: bold;
    color: #1F2041;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.colums__unordered {
    padding-bottom: 20px;
}
.item__title {
    padding-bottom: 20px;
}
