.footer {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  display: flex;
  justify-content: center;
  min-height: 372px;

  &__wrapper {
    align-items: flex-start;
    display: flex;
    max-height: 355px;
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    width: 100%;
  }

  &__link {
    display: flex;
    margin-bottom: 21px;

    &:first-child {
      margin-top: 1px;
    }
  }

  &__refers {
    color: rgba(31, 32, 65, 0.5);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    text-decoration: none;
  }

  &__subscribe-text,
  &__toxin-text {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }

  &__subscribe-text {
    display: flex;
    margin-bottom: 23px;
    margin-top: -3px;
  }

  &__toxin-icon {
    margin-bottom: 17px;
  }

  &__header {
    margin-bottom: 21px;

    &:nth-child(5) {
      margin-bottom: 13px;
    }
  }

  &__menu {
    // margin-top: 5px;
    padding-top: 24px;
        
    &:first-child {
      max-height: 132px;
      max-width: 260px;
      padding-top: 19px;
    }

    &:nth-child(2) {
      padding-left: 39px;
    }

    &:nth-child(3) {
      padding-left: 58px;
    }

    &:nth-child(4) {
      padding-left: 93px;
    }

    &:nth-child(5) {
      max-width: 300px;
      padding-left: 52px;
      // padding-top: 8px;
    }
  }
}
@media (max-width: 1000px) {
  .footer__wrapper {
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    max-height: unset;
  }

  .footer__menu {
    &:first-child {
      margin-bottom: 20px;
    }

  }

  .bar__logo-toxin {
    align-self: center;
  }
}
@media (max-width: 366px) {
  .footer__menu {
    &:first-child {
      max-height: 132px;
      max-width: 260px;
      padding-top: 19px;
    }

    &:nth-child(2) {
      padding-left: 0;
    }

    &:nth-child(3) {
      padding-left: 10px;
    }

    &:nth-child(4) {
      padding-left: 0;
    }

    &:nth-child(5) {
      max-width: 300px;
      padding-left: 0;
    }
  }
}
@media (max-width: 888px) {
  .topmenu {
    flex-direction: column;
    min-width: 320px;
  }

  .bar__navigation {
    flex-direction: column;
  }
}
