.colors-block {
    &__type {
        display: flex;
    }

    &__type-block-1 {
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
        margin-right: 30px;
    }

    &__type-block-2 {
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: normal;
        line-height: 23px;
        margin-right: 30px;
    }

    &__type-block-3 {
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 15px;
        margin-right: 30px;
        text-align: right;
        text-transform: uppercase;
    }

    &__type-block-4 {
        color: rgba(31, 32, 65, 0.25);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        margin-right: 30px;
    }

    &__type-text-1 {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 29px;
    }
    
    &__type-text-2 {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        line-height: 23px;
    }

    &__type-text-3 {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__type-text-4 {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        width: 301px;
    }
}
