.comment
    .comment__avatar-block
        .comment__avatar
              img.comment__image(src="avatar.png", alt="логотип")
        include ../../components/like-button/like-button.pug
    .comment__body
        .comment__name Мурад Сарафанов
        .comment__date 5 дней назад
        .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
