.sign-in__header
    span.sign-in__heading Войти
.sign-in__email
    include ../../components/text-field-default_sign-in-form/text-field-default_sign-in-form.pug
.sign-in__login
    include ../../components/buttons-sign-in-form/buttons-sign-in-form.pug
.sign-in__register
    p.sign-in__login-text Нет аккаунта на Toxin?
    include ../../components/buttons-sign-in-form-create/buttons-sign-in-form-create.pug