//- .checkbox-buttons__row
//-     .checkbox-buttons__title
//-         span.checkbox-buttons__main rich checkbox buttons     
//-     .checkbox-buttons__button
//-         label.checkbox-buttons__lable.checkbox-buttons__rich Широкий коридор
//-                 input.checkbox-buttons__input(type="checkbox", name="checkbox")
//-                 span.checkmark
//-         .checkbox-buttons__about Ширина коридоров в номере не менее 91 см.
//-     .checkbox-buttons__button
//-         label.checkbox-buttons__lable.checkbox-buttons__rich Можно с питомцами
//-                 input.checkbox-buttons__input(type="checkbox", name="checkbox")
//-                 span.checkmark
//-         .checkbox-buttons__about На 1 этаже вас встретит специалист и проводит до номера.
