  
.bar {
    background-color: white;
    width: auto;
    padding-top: 15px;
    height: 55px;
  }
  .between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;

  }