  
.bar {
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  justify-content: center;
  min-height: 70px;
  
  &__buttons {
    display: flex;
  }

  &__login-button {
    margin-right: 20px;
  }


}

.between {
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
@media (max-width: 1000px) {
  .between {
    flex-direction: column;
    margin-bottom: 20px;
    max-height: unset;
  }

  .bar__logo-toxin {
    align-self: center;
  }
}
@media (max-width: 888px) {
  .topmenu {
    flex-direction: column;
    min-width: 320px;
  }

  .bar__navigation {
    flex-direction: column;
  }
}

.bar__navigation {
  align-items: center;
  display: flex;

}

.navig__link {
  color: rgba(31, 32, 65, 0.5);
  // height: 70px;
      
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  text-decoration: none;
  // letter-spacing: -0.01em;
}
  
.bar__right-column {
  align-items: center;
  display: flex;
  justify-content: center;
}

.topmenu {
  align-items: center;
  display: flex;
  justify-content: center;
  // max-width: 447px;
  padding: 0;
}
//submenu
ul {
  list-style: none;
  margin: 0;
}

.bar__navigation {
  justify-content: space-between;
}

li {
  position: relative;
}

.submenu {
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 70px;
}

.fix:hover .submenu {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.navig {
  top: -1px;

  &:nth-child(1) {
    margin-right: 22px;
  }

  &:nth-child(2) {
    margin-right: 26px;
  }

  &:nth-child(3) {
    margin-right: 20px;
  }

  &:nth-child(4) {
    margin-right: 21px;
  }

  &:nth-child(5) {
    margin-right: 27px;
  }
}

.user {
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  line-height: 17px;

  &__arrow {
    margin-right: 20px;

  }
}
//  .bar__register {
//    width: 196px;
//  }
//  .bar__entry {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }

// .bar__login, .bar__register  {
//   cursor: pointer;
//   height: 34px;
//   border-radius: 22px;
//   text-transform: uppercase;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: bold;
//   font-size: 12px;
//   line-height: 15px;
// }
// .bar__login {
//   margin-right: 20px;
//   width: 79px;
//   height: 34px;
//   background-color: white;
//   border: 2px solid #BC9CFF;
//   @media (max-width: 888px) {
//     margin-right: 5px;
//   }
//   span {
//     position: relative;
//     top: -1px;  
//     color: #BC9CFF;
//   }
// }
// .bar__register {
//   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
//   border: 1px transparent;
//   span {
//     position: relative;
//     top: -1px;
//     left: -1px;  
//     color: #FFFFFF;
//     }
// }
