mixin toggle-button({name = 'toggle', text, isChecked, }={})
    
    .toggle__body
        label(class="toggle__switch") 
            input.toggle__input(type="checkbox", name=name, checked=isChecked)
            span.toggle__slider
        span.toggle__descritbtion=text 