.toggle
    .toggle__header
        .toggle__text toggle
    .toggle__body
        label(class="toggle__switch") 
            input.toggle__input(type="checkbox", name="toggle")
            span.slider
        span.toggle__descr Получать спецпредложения    