
.toggle {

  display: flex;


  &__switch {
    align-items: center;
    align-self: center;
    display: flex;
    height: 20px;
    position: relative;
    width: 40px;

    .toggle__input {
      height: 0;
      opacity: 0;
      width: 0;
    }    
  }

  &__slider {
    background-color: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    transition: 0.4s;
  
    &::before {
      background-color: rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      bottom: 3px;
      content: '';
      height: 12px;
      left: 4px;
      position: absolute;
      transition: 0.4s;
      transition: 0.4s;
      width: 12px;
    }
  }

  &__input {
    &:checked {
      ~ .toggle__slider { 
        border: 1px solid #bc9cff;
      }
    }
  
    &:checked ~ .toggle__slider::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transform: translateX(18px);
      transform: translateX(18px);
      transform: translateX(18px);
    }

    &__text {
      color: #1f2041;
      font-family: 'Montserrat';
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      line-height: 15px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }

  &__descritbtion {
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin-left: 10px;
  }

}
