.checkbox-buttons__row
    .checkbox-buttons__title
        span.checkbox-buttons__main Checkbox Buttons     
    .checkbox-buttons__button
        .checkbox-buttons__flag
            label(class='checkbox-buttons__lable') Можно курить
                input.checkbox-buttons__input(type="checkbox", name="checkbox")
                span.checkmark
    .checkbox-buttons__button
        .checkbox-buttons__flag
            label(class='checkbox-buttons__lable') Можно с питомцами
                input.checkbox-buttons__input(type="checkbox", name="checkbox")
                span.checkmark
    .checkbox-buttons__button
        .checkbox-buttons__flag
            label(class='checkbox-buttons__lable') Можно пригласить гостей (до 10 человек)
                input.checkbox-buttons__input(type="checkbox", name="checkbox")
                span.checkmark