.checkbox-buttons {
    margin-top: 18px;
    max-width: 266px;

    &:nth-child(2) {
        margin-top: 11px;
    }

    &:nth-child(1) {
        max-width: 233px;
    }

    &:nth-child(3) {
        margin-top: 11px;
    }

    &__lable {
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 12px;
        max-width: 243px;
        position: relative;
        text-transform: none;
        user-select: none;
    }

    &__input {
        height: 0;
        opacity: 0;
        width: 0;

        &:checked ~ .checkbox-buttons__checkmark {
            border-color: #bc9cff;
        }

        &:checked ~ .checkbox-buttons__checkmark::after {
            display: block;
        }
    }

    &__text-simple {
        color: rgba(31, 32, 65, 0.5);
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        padding-left: 24px;
    }

    &__about {
        color: rgba(31, 32, 65, 0.5);
        display: flex;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 14px;
        margin-bottom: 5px;
        max-width: 256px;
        padding-left: 30px;
    }

    &__checkmark {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        left: 0;
        min-height: 20px;
        min-width: 20px;
        position: absolute;
        top: 0;

        &::after {
            border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-image-slice: 1;
            border-style: solid;
            border-width: 0 2px 2px 0;
            content: '';
            display: none;
            height: 7px;
            left: 6px;
            position: absolute;
            top: 3px;
            transform: rotate(45deg);
            width: 5px;
        }
    }

    &_rich {
        color: rgba(31, 32, 65, 0.75);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 5px;
    }

    &__rich-text {
        padding-left: 30px;
    }
}
