.cards {
    display: flex;
    margin-top: 72px;

    &__body {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1160px;
    }

    &__row {
        margin-bottom: 40px;
    }
}
