.cards {
    display: flex;
    padding-top: 68px;

    &__body {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1160px;
    }

    &__row {
        margin-bottom: 40px;
    }

    &__row-datepicker {
        margin-bottom: 37px;
    }
}
