.cards {
  display: flex;

  &__body {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1160px;
  
  }
}

.cards__row {
  margin-bottom: 40px;
}
//Pixel perfect
.cards {
  margin-top: 72px;
}
