.text-field {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    max-width: 320px;
    padding: 12px 0 12px 15px;
    width: 100%;

    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
        color: rgba(31, 32, 65, 0.75);
        outline: none;
    }

    &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        color: rgba(31, 32, 65, 0.75);
        outline: none;
    }

    &::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }

    &__text {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        text-transform: uppercase;
    }
}
