.slick__content
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
    .slider__item
        img(src=("slick.svg"), alt="комната")
.slick__describtion
    .slick__row
        .slick__paragraph
            span.slick__no №
            span.slick__number   888
            span.slick__type-of-room   люкс
        .slick__paragraph
            span.slick__price 9 990
            span.slick__price ₽
            span.slick__in-time   в сутки
    .slick__row
        .slick__underline
            img(src=("line.svg"), alt="line")
    .slick__row
        .slick__paragraph
            include ../star/star.pug
        .slick__paragraph
            span.slick__reviews-number 145
            span.slick__reviews   Отзывов

