.slick-sliders {
    background: #fff;
    border-radius: 4px;
    max-width: 270px;
    min-height: 257px;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-sliders__content {
    max-height: 151px;
    max-width: 270px;
    position: relative;

    & .slick-arrow {
        background: linear-gradient(90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%);
        border: none;
        cursor: pointer;
        height: 100%;
        outline: none;
        padding: 0;
        position: absolute;
        top: 0;
        width: 44px;


    }

    & .slick-arrow.slick-prev {
        border-top-left-radius: 4px;
        left: 0;
        z-index: 1;

        &::before {
            color: #fff;
            content: 'expand_more';
            display: block;
            font-family: 'Material Icons';
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            transform: rotate(90deg);
        }
    }

    & .slick-arrow.slick-next {
        border-bottom-left-radius: 4px;
        right: 0;
        transform: rotate(180deg);
        z-index: 1;

        &::before {
            color: #fff;
            content: 'expand_more';
            display: block;
            font-family: 'Material Icons';
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            transform: rotate(90deg);
        }
    }
}

.slick-sliders__content .slick-dots {
    align-items: center;
    bottom: 37px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: relative;
    right: 15px;
    z-index: 6;
}

.slick-sliders__content .slick-dots li {
    list-style: none;

    &:nth-child(-n + 3) {
        margin-right: 3.75px;
    }
}

.slick-sliders__content .slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots li button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    filter: drop-shadow(0 5px 5px rgba(31, 32, 65, 0.3));
    font-size: 0;
    margin: 0;
    min-height: 7.5px;
    min-width: 7.5px;
    outline: none;
    padding: 0;
}

.slick-sliders__room-cost {
    color: rgba(31, 32, 65, 0.5);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
}

.slick-sliders__paragraph {
    display: flex;
}

.slick-sliders__description {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-sliders {
    &__star-button {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-left: 3px;
    }

    &__underline {
        display: flex;
        margin-top: 10px;
    }

    &__row {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        max-width: 233px;
        width: 100%;

        &:nth-child(1) {
            margin-top: 25px;
        }

        &:nth-child(3) {
            margin-top: 10px;
        }
    }

    &__reviews-block {
        display: flex;
        padding-right: 2px;
    }

    &__reviews-number {
        margin-right: 3px;
    }

    &__symbol {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        margin-left: 2px;
    }

    &__number {
        color: #1f2041;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        margin-bottom: 2px;
        margin-left: 2px;
        vertical-align: center;
    }

    &__type-of-room {
        color: #bc9cff;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 15px;
        margin-left: 11px;
        margin-top: 3px;
        text-transform: uppercase;
    }

    &__price {
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
    }

    &__in-time {
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        margin-left: 3px;
    }

    &__reviews-number {
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
        text-align: right;
    }

    &__reviews {
        color: rgba(31, 32, 65, 0.5);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        text-align: right;
        text-decoration: none;
    }
}

.slick-sliders:hover .slick-sliders__content::before,
.slick-sliders:hover .slick-sliders__content::after {
    display: block;

}

.slick-sliders__image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
